
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Wrapper Style */

body{
    background: rgb(233, 233, 233);
    font-family: "Roboto";
}

#wrapper{
    max-width: 900px;    
    margin: 30px auto;
    background: #fff;
}

/*  Navigation Style */

nav{
    padding: 20px 0px;
    border-bottom: 1px solid rgb(218, 218, 218);
    text-align: center;
}

nav ul li{
    display: inline;
    padding: 20px;
    line-height: 1.8;
}

nav ul li a{
    color: rgb(70, 70, 70);
    font-weight: 600;
    text-decoration: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }

/*  Task List container */

.task-list-container,
.task-add-form,
.about-container{
    
    width: 70%;
    margin: 30px auto;

}

h1{
    font-size: 30px;
    font-weight: bolder;
}

.task-list{
    margin: 20px 0px;
}

.task-list li{
    padding: 15px 0px;
    text-transform: capitalize;
    border-bottom: 1px solid rgb(218, 218, 218);
}

.btn{
    background: none;
    cursor: pointer;
    padding: 3px;
}

.complete-btn{
    float: right;
    border: 1px solid  rgb(37, 180, 125);
    color:  rgb(37, 180, 125);
}

.clear-btn{
    float: right;
    border: 1px solid  rgb(168, 29, 60);
    color:   rgb(168, 29, 60);
}

/* Task Add Form */

.task-add-form{
    padding-bottom: 30px;
}

.submit-btn{
    border: 1px solid  rgb(37, 180, 125);
    background-color:   rgb(37, 180, 125);
    color: #fff;
    padding: 10px;
}

.task-add-form input[type="text"]{
    padding: 10px;
}


/* About style */


.about-container{
    padding-bottom: 30px;
}

.about-container p{
    color: #7a7a7a;
    line-height: 1.7;
    word-spacing: 3px;
    text-indent: 15px;
    margin-bottom: 20px;
}

.about-container p:nth-child(2){

    color: rgb(37, 180, 125);
    text-align: center;

}

.about-container p:nth-child(3) a{
    color:  rgb(37, 180, 125);
    text-decoration: none;
}

.about-container p:last-child{

    font-family: monospace;
    font-weight: lighter;
    text-align: center;
    margin-top: 90px;
}

.about-container p:last-child a{
    color:  rgb(196, 196, 196);
    text-decoration: none;
}